In [1]:
import pickle
import os

import pandas as pd

#### Loading Businesses and Reviews

Loading businesses and reviews for Kosovo, Tirana, Sarande, Vlore, Lezhe, Shengjin Counties.

In [2]:
def load_data(path):
    df_unstructured = pd.DataFrame()
    df_reviews = pd.DataFrame()
    for filename in os.listdir(path):
        if not filename.split('.')[-1] == 'pickle':
            continue
        if filename.split('.')[0].split('_')[-1] == 'data':
            data = pd.DataFrame(pickle.load(open(f"{path}/{filename}", 'rb')))
            df_unstructured = pd.concat([df_unstructured, data])
        else:
            data = pd.DataFrame(pickle.load(open(f"{path}/{filename}", 'rb')))
            df_reviews = pd.concat([df_reviews, data])
    return df_unstructured.reset_index(drop=True), df_reviews.reset_index(drop=True)

In [3]:
df_unstructured, df_reviews = load_data('../datasets')

In [4]:
df_unstructured.head()

,business_id,business_name,categories,city,full_address,display_phone,review_count,stars,price_tag,is_claimed,is_closed,coordinates,image,url
0,5292a3ee-c57b-4c55-b882-1eebbafbb69c,Taverna Fevan,"[Mediterranean, European, Albanian]",Vlore County,"Palase, Dhermi Albania",+355 68 330 0908,134,4.0,$$ - $$$,True,False,"[40.160217, 19.628233]","data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEK...",https://www.tripadvisor.com/Restaurant_Review-...
1,777dcd53-bef2-45f0-a4f3-aade07195536,Taverna Hibraj,"[Barbecue, European, Albanian]",Vlore County,"SH8, Llogara, Llogara National Park Albania",+355 69 616 1807,22,4.5,$,True,False,"[40.20997, 19.579586]","data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEK...",https://www.tripadvisor.com/Restaurant_Review-...
2,7dadd1a8-f799-459b-bad1-dba165669780,Calme Palase,"[Bar, Cafe, European, Pub]",Vlore County,"Rruga E Plazhit Te Palases, Palase Albania",None,3,2.5,No price tag,False,False,"[40.170204, 19.583406]","data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEK...",https://www.tripadvisor.com/Restaurant_Review-...
3,a6c050df-cba9-41b3-a07e-01581c7977cd,Ambel,"[Italian, Seafood]",Vlore County,"Rruga Perivolo, Dhermi Albania",+355 69 209 9890,1,5.0,No price tag,False,False,"[40.15139, 19.63889]","data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEK...",https://www.tripadvisor.com/Restaurant_Review-...
4,c722445d-a16f-49cf-a6a6-b4fd15c58f29,Brother's Grill Fastfood,"[Fast Food, European, Grill, Albanian]",Vlore County,"Sh8, Himare 9425 Albania",+355 69 539 9818,56,5.0,No price tag,True,False,"[40.101753, 19.74574]","data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEK...",https://www.tripadvisor.com/Restaurant_Review-...

In [5]:
df_reviews.head()

,user_id,business_id,review_id,review_date,review_title,review_text,rating,votes
0,UID_649D7F06246AE713EC03CC37D8E0F727-SRC_86857...,c65742e9-3028-4a4e-a17d-397810611bdc,868577404,"November 15, 2022",Delicious food in a lovely setting,We’ve been here a few times. This was the best...,50,
1,UID_5C8A05641E93AF599D3A0E5065AD9C8C-SRC_85498...,c65742e9-3028-4a4e-a17d-397810611bdc,854983901,"August 18, 2022",Too bad,Dim lights and waiters in traditional costume ...,20,
2,UID_28D535572F72A35D95F49E6A0A643807-SRC_80282...,c65742e9-3028-4a4e-a17d-397810611bdc,802820824,"August 9, 2021",What a find...,Stopped off here on the way from Skopje to Ohr...,50,
3,UID_45EDCADA9084DAB445B72166A63C556B-SRC_69536...,c65742e9-3028-4a4e-a17d-397810611bdc,695360093,"August 4, 2019",Tasty!,We have meal there after visiting Monastery. T...,50,
4,UID_37C2FB670F0B798CE66E1C24F7CDF308-SRC_69395...,c65742e9-3028-4a4e-a17d-397810611bdc,693953389,"July 29, 2019",Perfect end to the Monastery visit,After the trip to the Monastery we stopped in ...,50,

In [6]:
df_unstructured.columns

Index(['business_id', 'business_name', 'categories', 'city', 'full_address',
       'display_phone', 'review_count', 'stars', 'price_tag', 'is_claimed',
       'is_closed', 'coordinates', 'image', 'url'],
      dtype='object')

Each encrypted business_id from the df_unstructured dataframe has corresponding entries in the df_reviews dataframe with the same business_id.

In [7]:
# Reviews of the first entry of the df unstructured dataframe

In [8]:
df_reviews[df_reviews['business_id'] == df_unstructured['business_id'][0]]

,user_id,business_id,review_id,review_date,review_title,review_text,rating,votes
49,UID_4F3C01A5EE8395572EAAEC2DE9326363-SRC_85912...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,859123177,"September 8, 2022",Magnificent,"This beautiful, family run, charming restauran...",50,
50,UID_FE919B8620DFE9AA21462F5D8E8D675F-SRC_85869...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,858698745,"September 6, 2022","Great view, expensive and bad food",The view is great. But… thats it. They dont ha...,20,1
51,UID_785F6F99CB6392F8E36EAAD9768E96CF-SRC_85657...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,856578101,"August 26, 2022",Delicious food,We had a really good time here. The food is su...,50,1
52,UID_15AFF13259C63D5E1AD1CCE68A6077CB-SRC_85542...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,855425281,"August 21, 2022",Lovely dinner,Amazing fresh food \nGreat hospitality \nRe...,50,1
53,UID_DB61FB463458D9132414CCF0F6742DEE-SRC_85473...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,854730950,"August 17, 2022",Pesce,The fish is really amazing but we waited an ho...,40,1
54,UID_5660FC9B2C2E720BB4F2EC8CD6F0D5BA-SRC_85413...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,854137336,"August 14, 2022",Terrible service and trying to overcharge,"Food was average, what really dossapointed me ...",10,1
55,UID_1F42C711823C0CEE69C4D127CAF040B8-SRC_85153...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,851532643,"August 2, 2022",Favoloso,"Tasty food, warm people, amazing dinner with a...",50,
56,UID_1ED4D8F55AD242C534F8275A0696A532-SRC_85150...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,851502130,"August 2, 2022",Mrs. Mirela Koci,Excellent local food. Excellent service. If yo...,50,
57,UID_E98D0C62D70645A1E47FBDED4A3EAFC8-SRC_84829...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,848293391,"July 16, 2022",Hidden gem in Dhermi,Genuinely cooked food from the owner and his w...,50,1
58,UID_2F62F029F51C02A8A35F896F96D3F2EA-SRC_84497...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,844978434,"June 27, 2022",Family business,"Please be prepeard they don't speak english, a...",50,
59,UID_3FB2FF0913E6DDDBECBF7E9FC0DFE2C8-SRC_84359...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,843592343,"June 19, 2022",Never again,"8 pm in mid June and we’re the only customers,...",10,1
60,UID_4DF16070729AB4D576BF16E4B041E205-SRC_80585...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,805856162,"August 23, 2021",Wonderful view and terrible service,Good:\nWonderful view of mountains and sea\nTa...,20,1
61,UID_E2925B3552B638BEDECF9BD1602B3C0E-SRC_80430...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,804303923,"August 16, 2021",Dinner for two,The place has a very good view on the Dhermi b...,50,1
62,UID_714A2F052DE6166BD83E6126EB7E265E-SRC_80257...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,802570393,"August 8, 2021",Amazing!,"All you could want. Friendly staff, amazing fo...",50,2
63,UID_9F46D8E5A205A761705A32343238466F-SRC_80257...,5292a3ee-c57b-4c55-b882-1eebbafbb69c,802570265,"August 8, 2021",Amazing!,Extremely good food and a really friendly owne...,50,2

In [9]:
df_unstructured['business_name'][0]

'Taverna Fevan'

#### Cleaning Unstructured DataFrame

In [10]:
df_unstructured.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056 entries, 0 to 4055
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business_id    4056 non-null   object
 1   business_name  4048 non-null   object
 2   categories     4056 non-null   object
 3   city           4056 non-null   object
 4   full_address   4048 non-null   object
 5   display_phone  3573 non-null   object
 6   review_count   4056 non-null   object
 7   stars          4056 non-null   object
 8   price_tag      4056 non-null   object
 9   is_claimed     4056 non-null   bool
 10  is_closed      4056 non-null   bool
 11  coordinates    4056 non-null   object
 12  image          3507 non-null   object
 13  url            4056 non-null   object
dtypes: bool(2), object(12)
memory usage: 388.3+ KB

Review Count seems to be an object type and might contain number such as 1,666 as string so we need to convert it to float.

In [11]:
def replace_comma(x):
    if x == None:
        return 0.0
    elif ',' in x:
        return float(x.replace(',', ''))
    else:
        return float(x)
    
df_unstructured['review_count'] = df_unstructured['review_count'].apply(lambda x: replace_comma(x))

In [12]:
# Convert stars to float
df_unstructured['stars'] = df_unstructured['stars'].apply(lambda x: float(x))

Price tag seems to be an object with $ elements and if no element then 'No price tag'. We need to arrange it to a set of numbers.

In [13]:
df_unstructured['price_tag'].value_counts()

No price tag    1668
$$ - $$$        1460
$                804
$$$$             124
Name: price_tag, dtype: int64

In [14]:
def process_price_tag(x):
    if x is None or x == '$' or x == 'No price tag':
        return 1.0
    elif x == '$$ - $$$':
        return 2.5
    elif x == '$$$$':
        return 4
    
df_unstructured['price_tag'] = df_unstructured['price_tag'].apply(lambda x: process_price_tag(x))

Coordinates looks to be in a list with latitude and longitude. We need to normalize it into two columns.

In [15]:
df_unstructured['latitude'] = df_unstructured['coordinates'].apply(lambda x: x[0])
df_unstructured['longitude'] = df_unstructured['coordinates'].apply(lambda x: x[1])

In [16]:
df_unstructured.drop('coordinates', axis=1, inplace=True)

In [17]:
df_unstructured.isnull().sum()

business_id        0
business_name      8
categories         0
city               0
full_address       8
display_phone    483
review_count       0
stars              0
price_tag          0
is_claimed         0
is_closed          0
image            549
url                0
latitude           0
longitude          0
dtype: int64

In [18]:
def check_null(df):
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({'column_name': df.columns,
                                     'percent_missing': percent_missing})
    missing_value_df.sort_values('percent_missing', inplace=True)
    return missing_value_df

In [19]:
check_null(df_unstructured)

                 column_name  percent_missing
business_id      business_id         0.000000
categories        categories         0.000000
city                    city         0.000000
review_count    review_count         0.000000
stars                  stars         0.000000
price_tag          price_tag         0.000000
is_claimed        is_claimed         0.000000
is_closed          is_closed         0.000000
url                      url         0.000000
latitude            latitude         0.000000
longitude          longitude         0.000000
business_name  business_name         0.197239
full_address    full_address         0.197239
display_phone  display_phone        11.908284
image                  image        13.535503

We can see that the columns that are missing mostly are image and display phone. However, we don't need to drop these values since image and display phone are not important columns.

Moreover, we see a small portion of businesses that are missing the name and full_address. We will drop these values

In [20]:
df_unstructured.dropna(subset=['business_name', 'full_address'], inplace=True)

In [21]:
df_unstructured.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4048 entries, 0 to 4055
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business_id    4048 non-null   object
 1   business_name  4048 non-null   object
 2   categories     4048 non-null   object
 3   city           4048 non-null   object
 4   full_address   4048 non-null   object
 5   display_phone  3573 non-null   object
 6   review_count   4048 non-null   float64
 7   stars          4048 non-null   float64
 8   price_tag      4048 non-null   float64
 9   is_claimed     4048 non-null   bool
 10  is_closed      4048 non-null   bool
 11  image          3501 non-null   object
 12  url            4048 non-null   object
 13  latitude       4048 non-null   float64
 14  longitude      4048 non-null   float64
dtypes: bool(2), float64(5), object(8)
memory usage: 450.7+ KB

In [22]:
df_cleaned = df_unstructured


#### Cleaning Reviews DataFrame

In [23]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23896 entries, 0 to 23895
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       23894 non-null  object
 1   business_id   23896 non-null  object
 2   review_id     23896 non-null  object
 3   review_date   23896 non-null  object
 4   review_title  23896 non-null  object
 5   review_text   23896 non-null  object
 6   rating        23896 non-null  object
 7   votes         23896 non-null  object
dtypes: object(8)
memory usage: 1.5+ MB

In [24]:
# first of let us turn review date into a datetime64[ns] object
df_reviews['review_date'] = pd.to_datetime(df_reviews['review_date'])

In [25]:
# Let's check for null values
check_null(df_reviews)

               column_name  percent_missing
business_id    business_id          0.00000
review_id        review_id          0.00000
review_date    review_date          0.00000
review_title  review_title          0.00000
review_text    review_text          0.00000
rating              rating          0.00000
votes                votes          0.00000
user_id            user_id          0.00837

We can see that there is only a really smart portion of nulls in user_id; but we do not need to drop them

Let strip review text and title

In [26]:
df_reviews['review_text'] = df_reviews['review_text'].apply(lambda x: x.strip())
df_reviews['review_title'] = df_reviews['review_title'].apply(lambda x: x.strip())
df_reviews['votes'] = df_reviews['votes'].apply(lambda x: x.strip())

We also need to normalize ratings from 1-5

In [27]:
df_reviews['rating'] = df_reviews['rating'].apply(lambda x: float(x))
df_reviews['rating'] = df_reviews['rating']/10

Let's turn empty votes string to 0

In [28]:
df_reviews['votes'].value_counts()

       16910
1       4470
2       1468
3        439
0        367
4        139
5         38
6         14
7          8
8          5
16         4
9          4
12         4
20         3
11         3
31         2
15         2
27         2
10         2
17         1
14         1
369        1
52         1
40         1
65         1
67         1
19         1
46         1
42         1
32         1
50         1
Name: votes, dtype: int64

In [29]:
def process_votes(x):
    if not x:
        return 0.0
    else:
        return float(x)
    
df_reviews['votes'] = df_reviews['votes'].apply(lambda x: process_votes(x))

In [30]:
df_reviews['votes'].value_counts()

0.0      17277
1.0       4470
2.0       1468
3.0        439
4.0        139
5.0         38
6.0         14
7.0          8
8.0          5
9.0          4
16.0         4
12.0         4
20.0         3
11.0         3
31.0         2
15.0         2
27.0         2
10.0         2
17.0         1
14.0         1
369.0        1
52.0         1
46.0         1
65.0         1
67.0         1
19.0         1
40.0         1
42.0         1
32.0         1
50.0         1
Name: votes, dtype: int64

In [31]:
df_reviews['review_title'] = df_reviews['review_title'].apply(lambda x:'No title' if x == '' else x)
df_reviews['review_text'] = df_reviews['review_text'].apply(lambda x:'No text' if x == '' or x == 'More' else x)

In [32]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23896 entries, 0 to 23895
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       23894 non-null  object
 1   business_id   23896 non-null  object
 2   review_id     23896 non-null  object
 3   review_date   23896 non-null  datetime64[ns]
 4   review_title  23896 non-null  object
 5   review_text   23896 non-null  object
 6   rating        23896 non-null  float64
 7   votes         23896 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 1.5+ MB

#### Saving cleaned data

First make sure to not save any duplicated data and then

Saving data info and data reviews to 
```
datasets\unprocessed_clean
```

In [33]:
df_cleaned['categories'] = df_cleaned['categories'].apply(lambda x: ' '.join(x))
df_cleaned.drop_duplicates(inplace=True)
df_reviews.drop_duplicates(inplace=True)
df_cleaned['categories'] = df_cleaned['categories'].apply(lambda x: x.split(' '))

In [34]:
df_cleaned['categories'].value_counts()

[]                                         399
[European, Albanian]                       293
[Seafood, Mediterranean, European]         131
[Italian, Seafood, Mediterranean]           98
[Italian, European, Albanian]               91
                                          ...
[Mexican, Fast, Food]                        1
[Bar, Barbecue, British, Pub]                1
[European, Healthy, Eastern, European]       1
[Bar, Cafe, Barbecue, European]              1
[Seafood, Mediterranean, European, Pub]      1
Name: categories, Length: 1078, dtype: int64

In [35]:
def save(path):
    os.makedirs(path, exist_ok=True)
    df_cleaned.to_pickle(f"{path}/businesses_data_cleaned.pkl")
    df_reviews.to_pickle(f"{path}/businesses_reviews_cleaned.pkl")
    
save('../datasets/unprocessed_clean')